<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Weather Report</title>
    <link rel="icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}">
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
</head>
<body>
<h1>{{ city }}</h1>
<h2>{{ temp }} &#8451;</h2>
<div style="display: flex;">
    <form action={% url "temp_somewhere" %}><input type="submit" value="Check other place by clicking here"/></form>&nbsp;
    <form action="/weatherApp" ><input style="background: #ff7f12" type="submit" value="Home"/></form>
</div>
</body>
</html>
